<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xbing.app.component">

    <application
        tools:replace="android:name"
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="android.notch_support" android:value="true"/>
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.layer2.ExceptionActivity"/>
        <activity android:name=".ui.activity.layer2.SettingActivity"/>
        <activity android:name=".ui.activity.layer2.TestLocalServiceActivity"/>
        <activity android:name=".ui.activity.layer2.AddressPickerActivity"/>
        <activity android:name=".ui.activity.layer2.JavaJsInteractiveActivity"/>
        <activity android:name=".ui.activity.layer2.ScreenActivity"/>

        <service android:name=".service.LocalService"/>
    </application>

</manifest>